venv/
.idea/
*.py
*.R
*.txt

*.csv

pic/*

!visualize.R
!proj_solver.py

!pic/close.png
!pic/far.png
!pic/close_3D.png
!pic/close_3D2.png
!pic/fruits_with_trees.png
!pic/mse.jpg
!pic/soft_acc.jpg
!pic/scatter.jpg
!simulate_distribution.jpg
!data_proj_414.csv
.Rproj.user
.Rhistory
*.Rproj
